back/get-invoices-workflow.json
{
  "name": "OCR-get-invoices",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-invoices",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        0
      ],
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook get-invoices",
      "webhookId": "a1111111-1111-4111-8111-111111111111"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA",
          "mode": "list",
          "cachedResultName": "OCR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        0
      ],
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Read rows from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KihM9Y8CUoxCMMVD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Each sheet row comes in as one item. Newest rows are appended at the bottom,\n// so take the last 15 and reverse them so the newest is first.\nconst rows = $input.all().map(i => i.json);\nconst recent = rows.slice(-15).reverse();\n\nconst toNumber = (v) => {\n  if (v === null || v === undefined) return 0;\n  const n = parseFloat(String(v).replace(/[^0-9.\\-]/g, ''));\n  return isNaN(n) ? 0 : n;\n};\n\nreturn recent.map((r, idx) => ({\n  json: {\n    id: `${r.Date || ''}-${r.Vendor || ''}-${idx}`,\n    vendor: r.Vendor || 'Unknown',\n    date: r.Date || '',\n    grand_total: toNumber(r['Total Amount']),\n    items_summary: r.Summary || '',\n    items: [],\n    source: r.Source || 'web',\n    created_at: r.Date || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        0
      ],
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Format last 15"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook get-invoices": {
      "main": [
        [
          {
            "node": "Read rows from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read rows from sheet": {
      "main": [
        [
          {
            "node": "Format last 15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Web-support"
    }
  ]
}
