back/OCR-get-invoices dev(1).json
{
  "name": "OCR-get-invoices dev",
  "nodes": [
    {
      "parameters": {
        "path": "8d8ca621-7124-4b26-91ef-e7febd5e4341",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2e0c3eb3-3854-4a0e-bae4-62c29e831ca7",
      "name": "Webhook get-invoices",
      "webhookId": "8d8ca621-7124-4b26-91ef-e7febd5e4341"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XM1WgFbVKHvGsrzAwrCqbOi-O4ZqnIbCqO0sK7zlgSM",
          "mode": "list",
          "cachedResultName": "OCR-dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XM1WgFbVKHvGsrzAwrCqbOi-O4ZqnIbCqO0sK7zlgSM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XM1WgFbVKHvGsrzAwrCqbOi-O4ZqnIbCqO0sK7zlgSM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "a117fb61-794d-4a26-b06b-d8ef6b72e8ae",
      "name": "Read rows from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KihM9Y8CUoxCMMVD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Multi-tenant: only return rows belonging to the requesting user.\n// The webhook receives ?userId=anon_... and we filter the full sheet before\n// slicing to the 15 most recent.\nconst userId = $('Webhook get-invoices').item.json.query.userId || '';\n\nconst rows = $input.all().map(i => i.json);\n\n// Filter by User_ID if a userId was provided (web client).\n// Users without a userId query param will see all rows (backwards compat).\nconst userRows = userId\n  ? rows.filter(r => (r.User_ID || '') === userId)\n  : rows;\n\n// Newest rows are appended at the bottom — take last 15 and reverse.\nconst recent = userRows.slice(-15).reverse();\n\nconst toNumber = (v) => {\n  if (v === null || v === undefined) return 0;\n  const n = parseFloat(String(v).replace(/[^0-9.\\-]/g, ''));\n  return isNaN(n) ? 0 : n;\n};\n\nreturn recent.map((r, idx) => ({\n  json: {\n    id: `${r.Date || ''}-${r.Vendor || ''}-${idx}`,\n    vendor: r.Vendor || 'Unknown',\n    date: r.Date || '',\n    grand_total: toNumber(r['Total Amount']),\n    items_summary: r.Summary || '',\n    items: [],\n    source: r.Source || 'web',\n    created_at: r.Date || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "7a5f4d6c-fb72-4e98-b492-da075dc589a5",
      "name": "Format last 15"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook get-invoices": {
      "main": [
        [
          {
            "node": "Read rows from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read rows from sheet": {
      "main": [
        [
          {
            "node": "Format last 15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "879b21fe-be57-4591-bc8f-a07d3f12d8d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dac9761f8be1e70c705e3a80868a4342418a292891906897a7363647af8ab4b7"
  },
  "nodeGroups": [],
  "id": "GtBQIlArKSXhqlFF",
  "tags": [
    {
      "updatedAt": "2026-06-26T06:40:19.705Z",
      "createdAt": "2026-06-26T06:40:19.705Z",
      "id": "e95wuTKnlaHNfnlQ",
      "name": "Web-support"
    }
  ]
}