back/OCR-3.0-web dev .json
{
  "name": "OCR-3.0-web dev",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hi\n{{ $json.Vendor }} has invoice of {{ $json[\"Total Amount\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        192
      ],
      "id": "6984b17c-09eb-40c1-ac51-2d5c3bd4daee",
      "name": "Send a text message",
      "webhookId": "c25cbde2-13df-4c81-9c46-4fb470df41ab",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ Object.keys($input.item.binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        480
      ],
      "id": "00617fb0-46d9-47bc-acec-ce7db73c0aa9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5db57d1e-06d4-46f3-be22-86a1225c9c24",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        288
      ],
      "id": "9dcffe3c-b8c2-4c57-a93a-980716fb4652",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data extraction assistant for businesses in Addis Ababa, Ethiopia. \nYour job is to take raw OCR text from invoices/receipts and convert it into a clean JSON object.\n\nFirst, evaluate if the incoming text actually looks like a business invoice, receipt, bill, or cash voucher.\n\nCRITICAL SYSTEM RULE:\n- Absolute strictness: Output ONLY the raw JSON properties. \n- NEVER append any signatures, text footers, watermarks, or notes to the output. \n- Do NOT include sentences like \"This message was sent automatically with n8n\" or \"Processed by AI\". \n\nCRITICAL RULE FOR NON-INVOICES:\nIf the text is NOT an invoice/receipt (e.g., it is a random photo description, completely unrelated conversational text, or gibberish OCR):\n- Set \"is_invoice\" to false.\n- Set \"date\", \"vendor_name\", and \"items_summary\" to \"\".\n- Set \"grand_total\" to 0.\n\nRULES FOR VALID INVOICES:\nIf the text IS a valid invoice/receipt:\n1. Set \"is_invoice\" to true.\n2. Extract: Vendor Name, Date, Items (Name, Quantity, Unit Price, Total Price), Subtotal, Tax (VAT/TOT if applicable), and Grand Total.\n3. Standardize names: If a vendor or item name is written in Amharic script, translate it cleanly to English or Latin script.\n4. Keep numbers clean: Ensure all financial amounts are extracted as clean numbers (integers or decimals), not strings.\n\nOutput ONLY valid JSON matching the required schema properties. Do not include conversational filler or markdown code blocks.\n\n{{ $json.document.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        288
      ],
      "id": "82d1cc8d-6309-4baa-91ab-ce1bcc2df89c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1XM1WgFbVKHvGsrzAwrCqbOi-O4ZqnIbCqO0sK7zlgSM",
          "mode": "list",
          "cachedResultName": "OCR-dev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XM1WgFbVKHvGsrzAwrCqbOi-O4ZqnIbCqO0sK7zlgSM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.output.date }}",
            "Vendor": "={{ $json.output.vendor_name }}",
            "Total Amount": "={{ $json.output.grand_total }}",
            "Summary": "={{ $json.output.items_summary }}",
            "Source": "={{ $json.message ? 'telegram' : 'web' }}",
            "User_ID": "={{ $('Webhook').item.json.body.user_id || ('telegram_user_' + ($('Telegram Trigger').item.json.message?.from?.id || 'unknown')) }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User_ID",
              "displayName": "User_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        192
      ],
      "id": "0a6e8c8f-d5f9-4a80-9715-cda89a5c8837",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KihM9Y8CUoxCMMVD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        464,
        512
      ],
      "id": "8896349a-1318-47c0-bcaa-c9a86432e2c9",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "CKn3xvZh9XLF809Q",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"is_invoice\": {\n      \"type\": \"boolean\",\n      \"description\": \"True if the text belongs to a valid invoice or receipt, false if it is a random picture or unrelated text.\"\n    },\n    \"date\": {\n      \"type\": \"string\",\n      \"description\": \"The date listed on the receipt or invoice. Return empty string if not an invoice.\"\n    },\n    \"vendor_name\": {\n      \"type\": \"string\",\n      \"description\": \"Standardized or translated vendor/merchant name. Return empty string if not an invoice.\"\n    },\n    \"grand_total\": {\n      \"type\": \"number\",\n      \"description\": \"The final total amount due. Return 0 if not a valid invoice.\"\n    },\n    \"items_summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise text summary of the items purchased. Return empty string if not an invoice.\"\n    }\n  },\n  \"required\": [\"is_invoice\", \"date\", \"vendor_name\", \"grand_total\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        512
      ],
      "id": "f9667cd1-d605-47e7-a19c-8eafb0f4e5e9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        480
      ],
      "id": "1ba5b920-4eef-4774-afee-b4b1d7e90c54",
      "name": "Telegram Trigger",
      "webhookId": "f452f621-45cd-4aca-9a73-6b4f2857e883",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document?.file_id || $json.message.photo?.[$json.message.photo.length - 1]?.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        480
      ],
      "id": "1bbabc64-8902-4142-b496-9681e2c25ecd",
      "name": "Get a file",
      "webhookId": "6ab667a6-6e89-4a7d-b8dc-0c7270322b87",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get a file').item.binary?.data?.mimeType ?? '' }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9d4fb315-8155-4966-b591-feb8d91aa888"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a19b239c-a65e-44f5-a1a3-1612095d92f4",
                    "leftValue": "={{ $('Get a file').item.binary?.data?.mimeType ?? '' }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        480
      ],
      "id": "28857c6a-f9f2-4886-9bba-a84ec08ad2db",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"application/pdf\",\n   \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        384
      ],
      "id": "88b2d128-57a1-49a1-8a36-851d8ed4eb24",
      "name": "HTTP Request-pdf",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"image/jpeg\",\n   \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        576
      ],
      "id": "878fc370-d14b-44f6-9b8b-7dec207def52",
      "name": "HTTP Request-image",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a2bdee7f-0dcd-490b-891d-2a5d182ebabc",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        96
      ],
      "id": "8bb69b6f-545f-4132-bcb7-f6ebcf600db7",
      "name": "Webhook",
      "webhookId": "a2bdee7f-0dcd-490b-891d-2a5d182ebabc"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').isExecuted ? 'telegram' : 'web' }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "376f0f36-fef1-4c23-9fe3-4e13dbc7a93d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1472,
        192
      ],
      "id": "b9d44423-fc9e-4129-84fd-de436c137c06",
      "name": "Switch1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\",\"message\":\"File uploaded successfully! Your invoice is being processed in the background.\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -448,
        96
      ],
      "id": "1bc5bf7c-fca5-40a4-abe9-a31737346ac3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ Object.keys($input.item.binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        96
      ],
      "id": "3ea26f2a-bbec-474c-a07b-fbdf50318734",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.binary?.file?.mimeType ?? '' }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9d4fb315-8155-4966-b591-feb8d91aa888"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a19b239c-a65e-44f5-a1a3-1612095d92f4",
                    "leftValue": "={{ $('Webhook').item.binary?.file?.mimeType ?? '' }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        96
      ],
      "id": "f7b505d2-3d8a-4009-b7ef-0a348be70628",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"application/pdf\",\n    \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "7cc93ba6-fe46-43d9-9da7-b413b93f1645",
      "name": "HTTP Request-pdf1",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"image/jpeg\",\n    \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        192
      ],
      "id": "6e0fb5e6-4503-42c7-9cf1-780d9dcb89f4",
      "name": "HTTP Request-image1",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "302eb3eb-271d-4474-b0e9-3163e792baaa",
              "name": "job_id",
              "value": "={{ $now.toMillis().toString() }}",
              "type": "string"
            },
            {
              "id": "647b9b9c-cab6-46ab-80e7-5003315e4023",
              "name": "status",
              "value": "queued",
              "type": "string"
            },
            {
              "id": "b49ee488-3c51-46a5-93ee-b5e8aa933a8c",
              "name": "data",
              "value": "={{ $('Webhook').item.binary.file }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        96
      ],
      "id": "41f0beeb-d297-4914-84a2-41d3212c1bac",
      "name": "Generate Job ID"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Greetings\n❌ The document submitted does not appear to be a valid receipt or invoice.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        384
      ],
      "id": "2f190106-247a-4642-88db-4df09c1836c6",
      "name": "Send a text message1",
      "webhookId": "ac26125e-bd20-4e32-a867-ec020a92008a",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b61900b5-ca9b-4c18-ac6c-907a6a90b69b",
              "leftValue": "={{ $json.output.vendor_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        288
      ],
      "id": "111ebd14-d09b-4265-91f0-7c47cea5aaff",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request-pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request-image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-pdf": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Job ID": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request-pdf1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request-image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-pdf1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-image1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4e7957fa-9cc1-4b1b-ba12-dc3a3201f5da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dac9761f8be1e70c705e3a80868a4342418a292891906897a7363647af8ab4b7"
  },
  "nodeGroups": [],
  "id": "GAfn8kO8Uq8rTw9Z",
  "tags": [
    {
      "updatedAt": "2026-06-26T06:40:19.705Z",
      "createdAt": "2026-06-26T06:40:19.705Z",
      "id": "e95wuTKnlaHNfnlQ",
      "name": "Web-support"
    }
  ]
}