back/OCR-3.0-web.json
{
  "name": "OCR-3.0-web",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hi\n{{ $json.Vendor }} has invoice of {{ $json[\"Total Amount\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2064,
        -192
      ],
      "id": "e5cd6d31-a7e6-48da-b75a-6bf14989fa2f",
      "name": "Send a text message",
      "webhookId": "1bad24f8-00c6-427d-a4b5-6074c323dafc",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ Object.keys($input.item.binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        -288
      ],
      "id": "14058583-16ba-4dc4-a397-9119b3bef09b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5db57d1e-06d4-46f3-be22-86a1225c9c24",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -96
      ],
      "id": "d33d8340-80b3-4d5c-b2c1-fbe87986e1a6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are a data extraction assistant for businesses in Addis Ababa, Ethiopia. \nYour job is to take raw OCR text from invoices/receipts and convert it into a clean JSON object.\n\nFollow these rules:\n1. Extract: Vendor Name, Date, Items (Name, Quantity, Unit Price, Total Price), Subtotal, Tax (VAT/TOT if applicable), and Grand Total.\n2. Standardize names: If a vendor or item name is written in Amharic script, translate it cleanly to English or Latin script.\n3. Keep numbers clean: Ensure all financial amounts are extracted as clean numbers (integers or decimals), not strings.\n4. Output ONLY valid JSON. Do not include conversational filler or markdown code blocks. \n\n{{ $json.document.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        -96
      ],
      "id": "0da63814-3fb4-40f2-88e8-6d6d2899939b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA",
          "mode": "list",
          "cachedResultName": "OCR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.output.date }}",
            "Vendor": "={{ $json.output.vendor_name }}",
            "Total Amount": "={{ $json.output.grand_total }}",
            "Summary": "={{ $json.output.items_summary }}",
            "Source": "={{ $json.message ? 'telegram' : 'web' }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        -96
      ],
      "id": "8024b603-5a7c-461a-bab7-0c61970fca41",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KihM9Y8CUoxCMMVD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        816,
        128
      ],
      "id": "dfe6f491-71fd-47e7-8302-cab3772666c8",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "CKn3xvZh9XLF809Q",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"date\": {\n      \"type\": \"string\",\n      \"description\": \"The date listed on the receipt or invoice.\"\n    },\n    \"vendor_name\": {\n      \"type\": \"string\",\n      \"description\": \"Standardized or translated vendor/merchant name.\"\n    },\n    \"grand_total\": {\n      \"type\": \"number\",\n      \"description\": \"The final total amount due, matching currency units.\"\n    },\n    \"items_summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise text summary of the items purchased, quantities, and individual prices.\"\n    }\n  },\n  \"required\": [\"date\", \"vendor_name\", \"grand_total\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        128
      ],
      "id": "f4fc0e8f-66b5-4ed9-883f-5d350d2f021e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -288
      ],
      "id": "15813723-404b-4633-93db-0c7d6d32245a",
      "name": "Telegram Trigger",
      "webhookId": "0a993479-9e0c-4d3f-8162-35b74835d520",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document?.file_id || $json.message.photo?.[$json.message.photo.length - 1]?.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        -288
      ],
      "id": "49a782f0-ec40-4c31-b28c-41c789f730a4",
      "name": "Get a file",
      "webhookId": "8f1ec954-aa5d-4875-9e8d-6102cd23cf52",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get a file').item.binary?.data?.mimeType ?? '' }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9d4fb315-8155-4966-b591-feb8d91aa888"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a19b239c-a65e-44f5-a1a3-1612095d92f4",
                    "leftValue": "={{ $('Get a file').item.binary?.data?.mimeType ?? '' }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        352,
        -288
      ],
      "id": "194631cd-836b-40f5-aeb5-3ee57164f9ea",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"application/pdf\",\n   \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -384
      ],
      "id": "238b463a-2287-4753-ba43-134d75b7b517",
      "name": "HTTP Request-pdf",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"image/jpeg\",\n   \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -192
      ],
      "id": "e6a2fad4-eb81-4525-9f67-046168302d74",
      "name": "HTTP Request-image",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-invoice-upload",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        192
      ],
      "id": "c8eb2e1c-5030-4928-9c3b-d876c9ad8741",
      "name": "Webhook",
      "webhookId": "f5a2a5b5-29bf-46b8-9c70-fa869094d2ca"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').isExecuted ? 'true' : 'false' }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "376f0f36-fef1-4c23-9fe3-4e13dbc7a93d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1840,
        -96
      ],
      "id": "05f60abd-ca00-4bac-8f1a-99d63761c79c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\",\"message\":\"File uploaded successfully! Your invoice is being processed in the background.\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        128,
        192
      ],
      "id": "dfe36bb5-ff47-4551-9404-4b53cd3b4920",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ Object.keys($input.item.binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        352,
        192
      ],
      "id": "767f8073-f785-4f7a-8e7d-e2f1ec69a31d",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.binary?.file?.mimeType ?? '' }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9d4fb315-8155-4966-b591-feb8d91aa888"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a19b239c-a65e-44f5-a1a3-1612095d92f4",
                    "leftValue": "={{ $('Webhook').item.binary?.file?.mimeType ?? '' }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        576,
        192
      ],
      "id": "7a47fc5d-8db5-44be-8b8b-72e6b4dcb178",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"application/pdf\",\n    \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        96
      ],
      "id": "dd89ed69-4c51-4212-b79a-f612f47be1e9",
      "name": "HTTP Request-pdf1",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"image/jpeg\",\n    \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        288
      ],
      "id": "b5e0ec5d-54a6-4a4b-be79-13ace3242ce6",
      "name": "HTTP Request-image1",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "302eb3eb-271d-4474-b0e9-3163e792baaa",
              "name": "job_id",
              "value": "={{ $now.toMillis().toString() }}",
              "type": "string"
            },
            {
              "id": "647b9b9c-cab6-46ab-80e7-5003315e4023",
              "name": "status",
              "value": "queued",
              "type": "string"
            },
            {
              "id": "b49ee488-3c51-46a5-93ee-b5e8aa933a8c",
              "name": "data",
              "value": "={{ $('Webhook').item.binary.file }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        192
      ],
      "id": "e357a833-226b-4c6b-8a38-32f780fe03e4",
      "name": "Generate Job ID"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request-pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request-image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-pdf": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Job ID": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request-pdf1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request-image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-pdf1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-image1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3.0.0-web",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dac9761f8be1e70c705e3a80868a4342418a292891906897a7363647af8ab4b7"
  },
  "nodeGroups": [],
  "tags": [
    {
      "name": "Web-support"
    }
  ]
}
